# Virtual Environment
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.venv

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Mac
.DS_Store

# Data and Outputs
WLASL_DATA/
WLASL_Processed_1/
MP_DATA/
MP_Data_01/
Logs/

