# Virtual Environment
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.venv

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/